/* ==========================================================
                        les importations
========================================================== */
@import url(../effet-js/slick/slick-theme.css);
@import url(../effet-js/slick/slick.css);
@import url(../fonts/Athiti.css);
@import url(../fonts/Merienda.css);
@import url(mobile.css);
@import url(tablette.css);

/* ==========================================================
                        LES VARIABLES
========================================================== */
:root {
    --rouge: #950000;
    --beige: #ebe3db;
    --marron: #4c4343;
    --police-far: Athiti;
    --police-titre: Merienda;
}

/* ==========================================================
                        LES GENERALITES
========================================================== */

/* ========= Reset ========= */
*,
*::after,
*::before {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: var(--police-far);
    font-size: 1.8rem;
    margin: 0;
}

img {
    max-width: 100%;
    transition: 1s;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

button {
    text-transform: uppercase;
    font-weight: bold;
}

/* ========= La généralité des titres ========= */
h1 {
    font-size: 3rem;
    font-family: var(--police-titre);
}

h2 {
    font-size: 2.5rem;
    font-family: var(--police-titre);
}

h3 {
    font-size: 2rem;
    font-family: var(--police-titre);
}

/* ========= La généralité des boutons et des liens ========= */
button {
    font-size: 1.8rem;
}

a {
    text-decoration: none;
    display: block;
    transition: 1s;
}

/* ========= La généralité des pictos ========= */
.nom::before,
.nom::after,
h1::before,
h1::after,
main h2::before,
main h2::after,
h3::before,
h3::after,
main section li::before {
    font-family: "Font Awesome 5 Free";
    content: "\f005";
    font-weight: 900;
    color: var(--rouge);
    margin: 1rem;
}

.contact span {
    padding: 0rem;
    text-decoration: underline dotted;
    /* border-bottom:1px solid var(--rouge); */
    color: var(--rouge);
    font-weight: bold;
}

.wrapper {
    max-width: 1400px;
    margin-inline: auto;
}

/* ==========================================================
                            HEADER
========================================================== */
header {
    display: flex;
    align-items: center;
}

header img {
    width: 20%;
}

.logo-nom {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.logo-nom p {
    transition: 1s;
}

.logo-nom:hover img {
    transform: scale(1.1);
}

.logo-nom:hover p {
    color: var(--rouge);
    transform: scale(1.1);
}

.logo-nom:hover p::before,
.logo-nom:hover p::after {
    color: black;
    transform: scale(1.1);
}

.nom {
    font-weight: 700;
    text-transform: uppercase;
}

header nav ul {
    display: flex;
    gap: 2rem;
}

header nav ul li a {
    color: black;
    padding: 1rem 2rem;
    background-color: var(--beige);
    font-weight: bold;
}

header nav ul li a:hover,
.active {
    background-color: var(--marron);
    color: #fff;
}

/* ==========================================================
                            Main
========================================================== */
/* ========= Le slide ========= */
.slick-dots li.slick-active button:before {
    color: var(--rouge);
}

.slick-dots li button:before {
    font-size: 2rem;
}

.slick-prev::before,
.slick-next::before {
    font-size: 5rem;
    position: absolute;
    z-index: 1;
}

.slick div {
    position: relative;
    z-index: -1;
}

.slick-prev::before {
    left: 3rem;
}

.slick-next::before {
    right: 3rem;
}

/* ========= section du main ========= */
main section:first-of-type {
    text-align: center;
}

.description-freshly {
    text-align: justify;
    overflow: auto;
}

.description-freshly img {
    float: right;
    width: 40%;
    margin: 2rem;
}

/* ========= article de la section du main ========= */
.menu-special {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
}

.menu-special h2 {
    grid-column: 1 / -1;
}

.menu-special section {
    background-color: var(--beige);
}

.menu-special section ul {
    text-align: left;
}

.menu-special section ul li {
    padding: 1rem;
    border-bottom: 0.1rem dashed var(--marron);
}

article section a {
    padding: 1rem;
    margin: 2rem;
    margin-bottom: 4rem;
    background-color: var(--marron);
    color: #fff;
    border: 1px solid var(--marron);
}

.fourchette {
    width: 8%;
    color: #fff;
}

article section a div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.prix-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.prix-menu img {
    width: 15%;
}

article section a:nth-of-type(2):hover {
    transform: scale(1.1);
}

/* ========= hover de l'image des articles dans la section du main ========= */

.les-menus {
    background-color: var(--marron);
    height: 27.2rem;
    align-items: center;
    padding: 0;
    transition: 1s;
    position: relative;
}

.prix {
    border: 0.4rem solid var(--beige);
    opacity: 0;
    transition: 1s;
    position: absolute;
    color: #fff;
    display: flex;
    flex-direction: column;
    left: 2rem;
    top: 2rem;
    right: 2rem;
    bottom: 2rem;
}

.prix span {
    display: block;
    font-weight: 600;
    font-size: 6rem;

}

.les-menus img {
    margin: 0;
}


.les-menus:hover .prix {
    opacity: 1;
}

.les-menus:hover>img {
    opacity: 0.1;
}

/* ==========================================================
                        PAGE-ABOUT 
========================================================== */
.about p {
    text-align: left;
}

.about .diner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: var(--beige);
    gap: 2rem;
    padding: 2rem;
}

.about .diner figure {
    color: #000;
    position: relative;

    margin: 0;
    padding: 0;

}

.a_img-dining {
    background-color: var(--marron);
    display: flex;
    justify-content: center;
    align-items: center;
}

.see-more_diner {
    width: 80%;
    transition: 1s;
    position: absolute;
    left: 25%;
    top: 25%;
    height: 50%;
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    font-size: 3rem;
    color: #fff;
    opacity: 0;
}

.see-more_diner a {
    border: 0.4rem solid var(--beige);
    padding: 1rem;
    color: #fff;
    font-family: var(--police-titre);
}

.a_img-dining:hover img {
    opacity: 0.2;
    transform: scale(1.03);
}

figcaption {
    transition: 1s;
}

.a_img-dining:hover~figcaption {
    transform: translateY(1rem) scale(1.1);
}

.a_img-dining:hover~.see-more_diner {
    opacity: 1;
    transform: translateY(-2rem);
}

/* ==========================================================
                        PAGE-MENUS 
========================================================== */
.nav-search {
    margin: 3rem;
}

.nav-search button {
    border: none;
    color: #000;
    background-color: var(--beige);
    padding: 1rem 2rem;
    margin: 1rem;
    transition: 1s;
}

.nav-search button:hover {
    color: #fff;
    background-color: var(--rouge);
}

.desert,
.search,
.cocktails {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-inline: 1rem;
    padding-block: 3rem;
    row-gap: 3rem;
    column-gap: 1rem;
    background-color: var(--beige);
}

/* ==========================================================
                        PAGE-CONTACT
========================================================== */
form {
    background-color: var(--beige);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 60%;
    text-align: left;
    margin-inline: auto;
    padding: 2rem;
}

fieldset {
    display: flex;
    flex-direction: column;
    border: none;
    gap: 1rem;
}

fieldset legend {
    font-family: var(--police-titre);
    font-weight: bold;
}

fieldset label {
    font-weight: 500;
}

fieldset:nth-of-type(3) {
    grid-column: 1 / -1;
}

form button {
    grid-column: 1 / -1;
    padding: 1rem;
    border: 1px solid;
    background-color: var(--marron);
    text-transform: uppercase;
    color: #fff;
    width: 50%;
    justify-self: center;
    border-radius: 1rem;
    margin: 3rem;
}

form button:hover {
    background-color: #fff;
    color: var(--marron);
}

fieldset input,
select,
textarea {
    padding: 1rem;
    border-radius: 1rem;
    border: 1px solid;
}

label span {
    position: relative;
    left: -1.5rem;
}

/* ==========================================================
                         FOOTER
========================================================== */
footer {
    background: url(../ressources/images/footer-bg.jpg);
    display: flex;
    justify-content: center;
    gap: 10rem;
    text-align: center;
    color: #fff;
    margin-top: 3rem;
    flex-flow: row wrap;
}

footer h2 {
    padding-block: 1rem;
    padding-inline: 10rem;
    border-bottom: 1px dashed #fff;
}

footer .reseaux-sociaux {
    display: flex;
    justify-content: center;
}

footer .reseaux-sociaux span:hover {
    transform: scale(1.2);
}

footer .reseaux-sociaux span {
    transition: 1s;
}

footer a {
    color: #fff;
}

footer span {
    font-size: 3rem;
    margin-inline: 1rem;
}
.footer .par{
    flex-basis: 100%;
    background-color: #444;
    text-align: center;
}
.footer .boss a{
    display:inline;
}
.footer .par{
    padding-top: 2rem;
}